<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storage_type.name %>
</p>

<p>
  <strong>Notes:</strong>
  <pre><%= @storage_type.notes %></pre>
</p>

<%= link_to 'Edit', edit_storage_type_path(@storage_type) %> |
<%= link_to 'Back', dashboard_path(current_user) %>

<h2>Categories</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Years Provided For</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.number_of_years_provided_for.round(2) %></td>
        <td><%= link_to 'Show', storage_type_category_path(@storage_type, category) %></td>
        <td><%= link_to 'Edit', edit_storage_type_category_path(@storage_type, category) %></td>
        <td><%= link_to 'Destroy', storage_type_category_path(@storage_type, category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_storage_type_category_path(@storage_type) %>
