<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storage_type.name %>
</p>

<p>
  <strong>Notes:</strong>
  <pre><%= @storage_type.notes %></pre>
</p>

<%= link_to 'Edit', edit_storage_type_path(@storage_type) %> |
<%= link_to 'Back', dashboard_path(current_user) %>

<h2>Categories</h2>

<div class="table-container">
  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Years Provided For</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.sort_by(&:name).each do |category| %>
        <tr>
          <td><%= link_to category.name, storage_type_category_path(@storage_type, category) %></td>
          <td><%= category.number_of_years_provided_for.round(2) %></td>
          <td>
            <%= render "edit_button", path: edit_storage_type_category_path(@storage_type, category) %>
          </td>
          <td>
            <%= render "delete_button", path: storage_type_category_path(@storage_type, category) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Category', new_storage_type_category_path(@storage_type) %>
