<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :adults_providing_for %>
    <%= form.number_field :adults_providing_for, min: 0, step: 0.00000001 %>
    <br>
    (This is the number of adult equivalents your storage needs to provide for.
    For example, you might enter kids as 0.5 and teenagers as 0.75.)
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
