<h1>Your Information</h1>

<p>
  <strong>Adults Providing For:</strong>
  <%= current_user.adults_providing_for %>
</p>

<%= link_to 'Edit', edit_user_path(current_user) %>

<h1>Your Storage</h1>

<h2>Upcoming Expiration Dates</h2>
<%= render 'food_items/table', food_items: @expiring_food_items, sort_by: [:expiration_date, :name] %>

<h2>Storage Types</h2>
<div class="table-container">
  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @storage_types.sort_by(&:name).each do |storage_type| %>
        <tr>
          <td><%= link_to storage_type.name, storage_type %></td>
          <td>
            <%= render "edit_button", path: edit_storage_type_path(storage_type) %>
          </td>
          <td>
            <%= render "delete_button", path: storage_type %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Storage Type', new_storage_type_path %>
