<%= form_with(model: [@storage_type, @category, food_item], local: true) do |form| %>
  <% if food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>

      <ul>
        <% food_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :units, @category.unit_type.titleize %>
    <%= form.number_field :units, min: 0, step: 0.01 %>

    <% if @category.unit_type == "pounds" %>
      <%= form.select :weight_type, [:pounds, :ounces] %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.date_select(
      :expiration_date,
      start_year: Date.today.year,
      end_year: Date.today.year + 60,
      order: [:month, :year],
    ) %>
  </div>

  <div class="field">
    <%= form.label :another_item, "Create Another Item?" %>
    <%= form.check_box :another_item, checked: true %>
  </div

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
