<%= form_with(model: food_item, local: true) do |form| %>
  <% if food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>

      <ul>
        <% food_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_from_collection_for_select(@categories, 'id', 'name') %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :weight, "Weight (in pounds)" %>
    <%= form.number_field :weight, min: 0, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :expiration_date %>
    <%= form.date_select(
      :expiration_date,
      start_year: Date.today.year,
      end_year: Date.today.year + 60,
      order: [:month, :year],
    ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
