<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @food_item.category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @food_item.weight %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @food_item.expiration_date %>
</p>

<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
