<p id="notice"><%= notice %></p>

<p>
  <strong>Storage Type:</strong>
  <%= @storage_type.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Units:</strong>
  <%= @food_item.units %> <%= @food_item.category.unit_type %>
</p>

<p>
  <strong>Expiration Date:</strong>
  <%= @food_item.expiration_date %>
</p>

<%= link_to 'Edit', edit_storage_type_category_food_item_path(@storage_type, @category, @food_item) %> |
<%= link_to 'Back', [@storage_type, @category] %>
