<p id="notice"><%= notice %></p>

<p>
  <strong>Storage Type:</strong>
  <%= @category.storage_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Unit Type:</strong>
  <%= @category.unit_type %>
</p>

<p>
  <strong>Units Per Year Per Adult:</strong>
  <%= @category.units_per_year_per_adult %>
</p>

<p>
  <strong>Total Units:</strong>
  <%= format_units(@category.total_units, @category.unit_type) %>
</p>

<p>
  <strong>Years Provided For:</strong>
  <%= @category.number_of_years_provided_for.round(2) %>
</p>

<p>
  <strong>Notes:</strong>
  <pre><%= @category.notes %></pre>
</p>

<%= link_to 'Edit', edit_storage_type_category_path(@storage_type, @category) %> |
<%= link_to 'Back', @storage_type %>

<h2>Food Items</h2>

<%= render 'food_items/table', food_item_groups: @food_item_groups %>

<br>

<%= link_to 'New Food Item', new_storage_type_category_food_item_path(@storage_type, @category) %>
