<p id="notice"><%= notice %></p>

<p>
  <strong>Storage Type:</strong>
  <%= @category.storage_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Unit Type:</strong>
  <%= @category.unit_type %>
</p>

<p>
  <strong>Units Per Year Per Adult:</strong>
  <%= @category.units_per_year_per_adult %>
</p>

<p>
  <strong>Total Units:</strong>
  <%= "#{@category.total_units} #{@category.unit_type}" %>
</p>

<p>
  <strong>Years Provided For:</strong>
  <%= @category.number_of_years_provided_for.round(2) %>
</p>
        

<p>
  <strong>Notes:</strong>
  <pre><%= @category.notes %></pre>
</p>

<%= link_to 'Edit', edit_storage_type_category_path(@storage_type, @category) %> |
<%= link_to 'Back', @storage_type %>

<h2>Food Items</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Units</th>
      <th>Expiration date</th>
      <th>Date Added</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_items.each do |food_item| %>
      <tr>
        <td><%= food_item.name %></td>
        <td><%= food_item.units %> <%= food_item.category.unit_type %></td>
        <td><%= food_item.expiration_date.strftime("%m-%Y") %></td>
        <td><%= food_item.created_at.strftime("%b-%d-%Y") %></td>
        <td><%= link_to 'Show', [@storage_type, @category, food_item] %></td>
        <td><%= link_to 'Edit', edit_storage_type_category_food_item_path(@storage_type, @category, food_item) %></td>
        <td><%= link_to 'Destroy', [@storage_type, @category, food_item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food Item', new_storage_type_category_food_item_path(@storage_type, @category) %>
