<p id="notice"><%= notice %></p>

<p>
  <strong>Storage Type:</strong>
  <%= @category.storage_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Unit Type:</strong>
  <%= @category.unit_type %>
</p>

<p>
  <strong>Units Per Year Per Adult:</strong>
  <%= @category.units_per_year_per_adult %>
</p>

<%= link_to 'Edit', edit_storage_type_category_path(@storage_type, @category) %> |
<%= link_to 'Back', @storage_type %>
